<section class="section container-xl my-3" id="acercaDe">
    <hr class="linea-division mt-5">
    <div class="p-0 ">
        <h3 class="font-weight-bold my-5 letras-section">Acerca De Mí</h3>
    </div>
    <div class="row p-0 mb-3">
        <img class="col-12 col-sm-4 mx-auto imagenes-index mb-3" src="./assets/{{miPortfolio.acercaDeMi.fotoDePerfil}}"
            alt="Foto de Perfil">
        <p class="mx-2 col-12 col-sm-8 my-auto mx-auto letras-section-description align-items-center">{{miPortfolio.acercaDeMi.descripcion}}</p>
    </div>
</section>