<section class="comienzo container-xl my-3 border border-dark rounded-3">
    <div class="d-flex justify-content-between mx-2">
        <div class="">
            <h3 class="font-weight-bold my-2">Acerca De</h3>
        </div>
        <div class="mx-auto"></div>
        <div class="iconoLapiz my-2 flex-row-reverse justify-content-end"><button class="btn btn-light"><img
                    src="./assets/penIcon.svg" alt="Icono de Lapiz"></button>
        </div>
    </div>
    <p class="mx-2">Soy Ingeniero Mecánico, he estado ejerciendo mi profesión durante los últimos 4 años, y
        actualmente decidí hacer un cambio en mi carrera y comencé a estudiar sistemas. Desde entonces me encuentro
        en formación como programador full stack, y estoy en busca de mi primera experiencia laboral en el área.
    </p>
</section>