<footer class="container-fluid rounded-3" id="footer">
    <p class="font-weight-bold text-center mb-0">© Ricardo Nuñez</p>
    <p class="font-weight-light text-center mb-0" s>Buenos Aires, Argentina</p>
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link font-weight-bold" aria-current="page"
                href="https://www.linkedin.com/in/ricardo-javier-jose-nu%C3%B1ez-hernandez-16680012b"
                target="_blank"><img src="./assets/linkedin.svg" alt="Logo de Linkedin">
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link font-weight-bold" aria-current="page" href="https://github.com/Ricardoj2811"
                target="_blank"><img src="./assets/github.svg" alt="Logo de GitHub">
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link font-weight-bold" aria-current="page" href="mailto:ricardoj2811@gmail.com"
                target="_blank"><img src="./assets/gmail.svg" alt="Logo de gmail">
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="modal" data-bs-target="#exampleModal2"><img width="20px"
                    src="./assets/user.png" alt="Iniciar Sesion"></a>
        </li>
    </ul>
</footer>