<header>
    <nav class="container-fluid m-0 p-0 navbar bg-color navbar-expand-lg navbar-light fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand"
                href="https://www.argentina.gob.ar/produccion/transformacion-digital-y-economia-del-conocimiento/argentina-programa"
                target="_blank"><img class="navbar-brand" src="./assets/ArgentinaPrograma.png"
                    alt="Logo de Argentina Programa"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="letrasNavBar mx-2" aria-current="page" href="#acercaDe">Acerca de Mí</a>
                    </li>
                    <li class="nav-item">
                        <a class="letrasNavBar mx-2" href="#Experiencia">Experiencia</a>
                    </li>
                    <li class="nav-item">
                        <a class="letrasNavBar mx-2" href="#Educacion" tabindex="-1" aria-disabled="true">Educacion</a>
                    </li>
                    <li class="nav-item">
                        <a class="letrasNavBar mx-2" href="#Skills" tabindex="-2" aria-disabled="true">Skils</a>
                    </li>
                    <li class="nav-item">
                        <a class="letrasNavBar mx-2" href="#Proyectos" tabindex="-3" aria-disabled="true">Proyectos</a>
                    </li>
                </ul>
                <div id="iconosNavBar" class="d-flex d-inline-flex">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link font-weight-bold" aria-current="page"
                                [href]="persona.linkedIn"
                                target="_blank"><img src="./assets/linkedin.svg" alt="Logo de Linkedin">
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link font-weight-bold" aria-current="page"
                                [href]="persona.gitHub" target="_blank"><img src="./assets/github.svg"
                                    alt="Logo de GitHub">
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link font-weight-bold" aria-current="page"
                                href="mailto:ricardoj2811@gmail.com" target="_blank"><img src="./assets/gmail.svg"
                                    alt="Logo de gmail">
                            </a>
                        </li>
                        <li class="nav-item">
                            <button class="nav-link btn ms-0" type="button" (click)="login()" *ngIf="!isLogged"><img width="20px"
                                    src="./assets/user.png" alt="Iniciar Sesión"></button>
                            <button class="nav-link btn ms-0" type="button" (click)="onLogOut()" *ngIf="isLogged"><img width="20px"
                                        src="./assets/logout.png" alt="Cerrar Sesión"></button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <div class="container-fluid navbar banner-index text-center">
        <div class="container-fluid my-0 p-0">
            <div class="align-items-center mx-auto">
                <h1 class="font-weight-bold mb-0 letrero-banner">{{persona.nombre}} {{persona.apellido}}</h1>
                <h2 class="font-weight-bold mb-0 letrero-banner2">{{persona.carrera}}</h2>
                <h3 class="font-weight-bold mb-0 letrero-banner2">{{persona.carreraDos}}</h3>
            </div>
        </div>
    </div>
</header>