<section class="section container-xl my-3" id="Proyectos">
    <hr class="linea-division mt-5">
    <div class="p-0 d-flex mb-5">
        <h3 class="font-weight-bold letras-section my-3">Proyectos</h3>
        <div class="mx-auto"></div>
        <a href="" class="iconos my-auto p-1"><img src="/assets/add.png" alt="Icono para agregar"></a>
    </div>
    <div class="p-0 row justify-content-center">
        <div *ngFor="let proyecto of projectsList" class="card m-3 text-center col-xl-3 col-md-4 col-12" style="width: 18rem;">
            <img [src]="proyecto.logo" class="card-img-top " alt="...">
            <hr>
            <div class="card-body">
                <h5 class="card-title">{{proyecto.nombre}}</h5>
                <p class="card-text">{{proyecto.descripcion}}</p>
                <a [href]="proyecto.link" target="_blank" class="btn btn-secondary">Ver sitio</a>
            </div>
        </div>
    </div>
</section>