<section class="section container-xl my-3" id="Educacion">
    <hr class="linea-division mt-5">
    <div class="p-0">
        <h3 class="font-weight-bold letras-section my-3">Educación</h3>
    </div>
    <div class="p-0 row mb-3 p-0 m-0 text-center">
        <div class="col-12 col-sm-4 text-center mb-3">
            <a href="{{miPortfolio.educacion.educacion1.link}}" target="_blank"><img class="imagenes-experiencia"
                    src="./assets/{{miPortfolio.educacion.educacion1.imagen}}" alt="Logo de la Universidad de Carabobo"></a>

        </div>
        <div class="mx-2 col-12 col-sm-8 my-auto mx-auto">
            <h5 class="mx-2 font-weight-bold letras-section-titulo">{{miPortfolio.educacion.educacion1.titulo}}</h5>
            <p class="mx-2 letras-section-description">{{miPortfolio.educacion.educacion1.fechas}}</p>
            <p class="mx-2 letras-section-description">{{miPortfolio.educacion.educacion1.descripcion}}
            </p>
        </div>
    </div>
    <div class="p-0 row mb-3 p-0 m-0 text-center">
        <div class="col-12 col-sm-4 text-center mb-3">
            <a href="{{miPortfolio.educacion.educacion2.link}}" target="_blank"><img class="imagenes-experiencia"
                    src="./assets/{{miPortfolio.educacion.educacion2.imagen}}" alt="Logo de la Universidad de Carabobo"></a>

        </div>
        <div class="mx-2 col-12 col-sm-8 my-auto mx-auto">
            <h5 class="mx-2 font-weight-bold letras-section-titulo">{{miPortfolio.educacion.educacion2.titulo}}</h5>
            <p class="mx-2 letras-section-description">{{miPortfolio.educacion.educacion2.fechas}}</p>
            <p class="mx-2 letras-section-description">{{miPortfolio.educacion.educacion2.descripcion}}
            </p>
        </div>
    </div>
    <div class="p-0 row mb-3 p-0 m-0 text-center">
        <div class="col-12 col-sm-4 text-center mb-3">
            <a href="{{miPortfolio.educacion.educacion3.link}}" target="_blank"><img class="imagenes-experiencia"
                    src="./assets/{{miPortfolio.educacion.educacion3.imagen}}" alt="Logo de la Universidad de Carabobo"></a>

        </div>
        <div class="mx-2 col-12 col-sm-8 my-auto mx-auto">
            <h5 class="mx-2 font-weight-bold letras-section-titulo">{{miPortfolio.educacion.educacion3.titulo}}</h5>
            <p class="mx-2 letras-section-description">{{miPortfolio.educacion.educacion3.fechas}}</p>
            <p class="mx-2 letras-section-description">{{miPortfolio.educacion.educacion3.descripcion}}
            </p>
        </div>
    </div>
    <div class="p-0 row mb-3 p-0 m-0 text-center">
        <div class="col-12 col-sm-4 text-center mb-3">
            <a href="{{miPortfolio.educacion.educacion4.link}}" target="_blank"><img class="imagenes-experiencia"
                    src="./assets/{{miPortfolio.educacion.educacion4.imagen}}" alt="Logo de la Universidad de Carabobo"></a>

        </div>
        <div class="mx-2 col-12 col-sm-8 my-auto mx-auto">
            <h5 class="mx-2 font-weight-bold letras-section-titulo">{{miPortfolio.educacion.educacion4.titulo}}</h5>
            <p class="mx-2 letras-section-description">{{miPortfolio.educacion.educacion4.fechas}}</p>
            <p class="mx-2 letras-section-description">{{miPortfolio.educacion.educacion4.descripcion}}
            </p>
        </div>
    </div>
</section>