<section class="section container-xl my-3" id="Educacion">
    <hr class="linea-division mt-5">
    <div class="p-0 d-flex mb-5">
        <h2 class="font-weight-bold letras-section my-3">Educación</h2>
        <div class="mx-auto"></div>
        <button class="btn iconos my-auto p-1" routerLink="/nuevaedu" *ngIf="isLogged"><img src="/assets/add.png" alt="Icono para agregar"></button>
    </div>
    <div *ngFor="let education of edu" class="p-0 row mb-3 p-0 m-0 text-center my-5">
        <div class="d-flex justify-content-end mb-5">
            <button *ngIf="isLogged"  class="btn iconos bg-light mx-2" routerLink="/editedu/{{education.id}}"><img src="/assets/penIcon.svg" alt="Icono para agregar"></button>
            <button *ngIf="isLogged" (click)="delete(education.id)" class="btn iconos mx-2"><img src="/assets/remove.png" alt="Icono para eliminar"></button>
        </div>
        <div class="col-12 col-sm-4 text-center mb-3">
            <a [href]="education.linkEd" target="_blank"><img class="imagenes-experiencia"
                    [src]="education.imagenEd" alt="Logo de la Universidad de Carabobo"></a>

        </div>
        <div class="mx-2 col-12 col-sm-8 my-auto mx-auto mb-5">
            <h3 class="mx-2 font-weight-bold letras-section-titulo">{{education.nombreEd}}</h3>
            <h4 class="mx-2 font-weight-bold letras-section-description">{{education.nombreInstitutoEd}}</h4>
            <p class="mx-2 letras-section-description">{{education.fechaInicioEd}} / {{education.fechaFinalEd}}</p>
            <p class="mx-2 letras-section-description">{{education.descripcionEd}}
            </p>
        </div>
    </div>
</section>