<div class="container-md">
    <h1>Agregar Skill</h1>
    <form  (ngSubmit)="onCreate()" novalidate #f="ngForm">
        <div class="mb-3 form-group">
            <label for="nombreE" class="form-label">Nombre Skill</label>
            <input type="text"
            class="form-control" id="nombreE" name="nombreE" 
            [(ngModel)]="nombreSk" required>
        </div>
        <div class="mb-3 form-group">
            <label for="nombreEmpresaE" class="form-label">Porcentaje de Manejo</label>
            <input type="number"
            class="form-control" id="nombreEmpresaE" name="nombreEmpresaE" 
            [(ngModel)]="percentSk" required>
        </div>
        <div class="mb-3 form-group">
            <label for="imagen" class="form-label">Imagen de la Skill</label>
            <input type="text"
            class="form-control" id="imagen" name="imagen" 
            [(ngModel)]="imagenSk" required>
        </div>
        
        <button type="button" class="btn btn-secondary mx-2" (click)="homePage()">Cancelar</button>
        <button type="submit" class="btn btn-primary mx-2">Enviar</button>
    </form>
</div>


