<section class="section container-xl my-3" id="Skills">
    <hr class="linea-division mt-5">
    <div class="p-0">
        <h3 class="font-weight-bold letras-section my-3">Hard and Soft Skils</h3>
    </div>
    <div class="p-0 row mb-3 text-center">
        <div class="col-12 col-sm-4 mb-3">
            <h5 class="mx-2 font-weight-bold letras-section-skills">{{miPortfolio.skills.skill1.nombre}}</h5>
            <div class="progress mx-auto">
                <div class="progress-bar" role="progressbar" style="width:{{miPortfolio.skills.skill1.porcentaje}}%"
                    aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
        <div class="col-12 col-sm-4 mb-3">
            <h5 class="mx-2 font-weight-bold letras-section-skills">{{miPortfolio.skills.skill2.nombre}}</h5>
            <div class="progress mx-auto">
                <div class="progress-bar" role="progressbar" style="width:{{miPortfolio.skills.skill2.porcentaje}}%"
                    aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
        <div class="col-12 col-sm-4 mb-3">
            <h5 class="mx-2 font-weight-bold letras-section-skills">{{miPortfolio.skills.skill3.nombre}}</h5>
            <div class="progress mx-auto">
                <div class="progress-bar" role="progressbar" style="width:{{miPortfolio.skills.skill3.porcentaje}}%"
                    aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
        
    </div>
    <div class="p-0 row mb-3 text-center">
        <div class="col-12 col-sm-4 mb-3">
            <h5 class="mx-2 font-weight-bold letras-section-skills">{{miPortfolio.skills.skill4.nombre}}</h5>
            <div class="progress mx-auto">
                <div class="progress-bar" role="progressbar" style="width:{{miPortfolio.skills.skill4.porcentaje}}%"
                    aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
        <div class="col-12 col-sm-4 mb-3">
            <h5 class="mx-2 font-weight-bold letras-section-skills">{{miPortfolio.skills.skill5.nombre}}</h5>
            <div class="progress mx-auto">
                <div class="progress-bar" role="progressbar" style="width:{{miPortfolio.skills.skill5.porcentaje}}%"
                    aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
        <div class="col-12 col-sm-4 mb-3">
            <h5 class="mx-2 font-weight-bold letras-section-skills">{{miPortfolio.skills.skill6.nombre}}</h5>
            <div class="progress mx-auto">
                <div class="progress-bar" role="progressbar" style="width:{{miPortfolio.skills.skill6.porcentaje}}%"
                    aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
        
    </div>
    <div class="p-0 row mb-3 text-center">
        <div class="col-12 col-sm-4 mb-3">
            <h5 class="mx-2 font-weight-bold letras-section-skills">{{miPortfolio.skills.skill7.nombre}}</h5>
            <div class="progress mx-auto">
                <div class="progress-bar" role="progressbar" style="width:{{miPortfolio.skills.skill7.porcentaje}}%"
                    aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
        <div class="col-12 col-sm-4 mb-3">
            <h5 class="mx-2 font-weight-bold letras-section-skills">{{miPortfolio.skills.skill8.nombre}}</h5>
            <div class="progress mx-auto">
                <div class="progress-bar" role="progressbar" style="width:{{miPortfolio.skills.skill8.porcentaje}}%"
                    aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
        <div class="col-12 col-sm-4 mb-3">
            <h5 class="mx-2 font-weight-bold letras-section-skills">{{miPortfolio.skills.skill9.nombre}}</h5>
            <div class="progress mx-auto">
                <div class="progress-bar" role="progressbar" style="width:{{miPortfolio.skills.skill9.porcentaje}}%"
                    aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
        
    </div>
    <div class="p-0 row mb-3 text-center">
        <div class="col-12 col-sm-4 mb-3">
            <h5 class="mx-2 font-weight-bold letras-section-skills">{{miPortfolio.skills.skill10.nombre}}</h5>
            <div class="progress mx-auto">
                <div class="progress-bar" role="progressbar" style="width:{{miPortfolio.skills.skill10.porcentaje}}%"
                    aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
        <div class="col-12 col-sm-4 mb-3">
            <h5 class="mx-2 font-weight-bold letras-section-skills">{{miPortfolio.skills.skill11.nombre}}</h5>
            <div class="progress mx-auto">
                <div class="progress-bar" role="progressbar" style="width:{{miPortfolio.skills.skill11.porcentaje}}%"
                    aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
        <div class="col-12 col-sm-4 mb-3">
            <h5 class="mx-2 font-weight-bold letras-section-skills">{{miPortfolio.skills.skill3.nombre}}</h5>
            <div class="progress mx-auto">
                <div class="progress-bar" role="progressbar" style="width:{{miPortfolio.skills.skill12.porcentaje}}%"
                    aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
        
    </div>
    <div class="p-0 row mb-3 text-center">
        <div class="col-12 col-sm-4 mb-3">
            <h5 class="mx-2 font-weight-bold letras-section-skills">{{miPortfolio.skills.skill13.nombre}}</h5>
            <div class="progress mx-auto">
                <div class="progress-bar" role="progressbar" style="width:{{miPortfolio.skills.skill13.porcentaje}}%"
                    aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
        <div class="col-12 col-sm-4 mb-3">
            <h5 class="mx-2 font-weight-bold letras-section-skills">{{miPortfolio.skills.skill14.nombre}}</h5>
            <div class="progress mx-auto">
                <div class="progress-bar" role="progressbar" style="width:{{miPortfolio.skills.skill14.porcentaje}}%"
                    aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
        <div class="col-12 col-sm-4 mb-3">
            <h5 class="mx-2 font-weight-bold letras-section-skills">{{miPortfolio.skills.skill15.nombre}}</h5>
            <div class="progress mx-auto">
                <div class="progress-bar" role="progressbar" style="width:{{miPortfolio.skills.skill15.porcentaje}}%"
                    aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
    </div>
</section>