@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dongle:wght@300;400;700&family=Montserrat:wght@400;600;800&family=Open+Sans:wght@300;500;600;700&family=Roboto:ital,wght@0,100;0,700;1,400&display=swap');

body{
  background-color: black;
}

.font-weight-bold {
  font-weight: 700;
}

.font-weight-light {
  font-weight: 300;
}

.font-weight-medium {
  font-weight: 400;
}

.bg-color {
  background-color: #b3b2b2;
}

.navbar-brand img {
  height: 100%;
  width: 100px;
}

@media all and (max-width: 576px) {
  .navbar-brand img {
    margin-left: 35px;
    width: 100px;
  }
}

.letrasNavBar {
  font-size: 1.2rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  color: white;
  text-decoration: none;
  list-style: none;
}

.letrasNavBar:hover {
  color: orange;
}


.navbar-nav .nav-item a:hover {
  -webkit-transform: scale(1.7);
  transform: scale(1.2);
}

.navbar-nav .nav-item a img {
  height: 100%;
  width: 20px;
}

@media all and (max-width: 576px) {
  .navbar-nav .nav-item a img {
    height: 100%;
    width: 15px;
  }
}

.banner-index {
  background-image: url("../assets/banner.jpg");
  background-size: cover;
  object-fit: contain;
  height: 600px;
}

@media all and (max-width: 576px) {
  .banner-index {
    background-image: url("../assets/banner.jpg");
    background-size: cover;
    object-fit: contain;
    height: 500px;
  }
}

.banner-index .letrero-banner {
  color: white;
  font-family: 'Open Sans', sans-serif, 700;
  font-size: 4rem;
}

@media all and (max-width: 576px) {
  .banner-index .letrero-banner {
    font-size: 2.2rem;
  }
}

.banner-index .letrero-banner2 {
  color: rgb(158, 149, 149);
  font-family: 'Open Sans', sans-serif, 700;
  font-size: 3rem;
}

@media all and (max-width: 576px) {
  .banner-index .letrero-banner2 {
    font-size: 1.8rem;
  }
}

.imagenes-index {
  height: 100%;
  width: 300px;
  border-radius: 150px;
  transition: all 250ms ease-in-out;
}

@media all and (max-width: 576px) {
  .imagenes-index {
    height: 100%;
    width: 200px;
    border-radius: 100px;
  }
}

.imagenes-index:hover {
  transform: scale(1.1);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}

.imagenes-experiencia {
  height: 100%;
  width: 280px;
  transition: all 250ms ease-in-out;
}

@media all and (max-width: 768px) {
  .imagenes-experiencia {
    height: 100%;
    width: 200px;
  }
}

.imagenes-experiencia:hover {
  transform: scale(1.1);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}

.letras-section{
  color:white;
  font-size:3rem;
}

.letras-section-description{
  color:white;
  font-size:1.5rem;
}

.letras-section-titulo{
  color:white;
  font-size:2rem;
}

.letras-section-skills{
  color:white;
  font-size:2rem;
}

@media all and (max-width: 768px) {
  .letras-section-skills{
    font-size:1.4rem;
  }
}


@media all and (max-width: 768px) {
  .letras-section{
    color:white;
    font-size:2.2rem;
    text-align: center;
  }
  
  .letras-section-description{
    color:white;
    font-size:1rem;
    text-align: center;
  }
  
  .letras-section-titulo{
    color:white;
    font-size:1.5rem;
    text-align: center;
  }
}

.progress{
  width:50%;
}

.linea-division{
  color:orange;
  border: none;
}

.iconoLapiz img {
  width: 20px;
  height: 20px;
}

#footer {
  background-color: #b3b2b2;
}

#footer p {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  color: white;
}

#footer .nav img {
  width: 30px;
  height: 100%;
}

#footer .nav img:hover {
  transform: scale(1.1);
}